.account-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
}

.bank-card {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  width: 450px;
  
  gap: 12px;
  color: white;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  overflow: hidden;
}

.bank-card_content .header {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.account-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.account-balance {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.account-details {
  margin-top: 1rem;
}

.account-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

.account-number {
  font-size: 1.1rem;
  margin-top: 0.25rem;
  letter-spacing: 1.2px;
}

.mask {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffeaa7;
}

.bank-card_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}

.add-account-btn {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(to right, #7f5af0, #00c6ff);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
}

.add-account-btn:hover {
  background-color: #2575fc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px); 
  backdrop-filter: blur(3px); 
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.modal {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal input, .modal select {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal button {
  padding: 0.6rem 1.2rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal button[type="submit"] {
  background-color: #6a11cb;
  color: white;
}

.modal button[type="button"] {
  background-color: #ccc;
}
