<div class="account-container">
  <div class="bank-card" *ngFor="let account of accounts">
    <div class="bank-card_content">
      <div class="header">
        <h1 class="account-name">{{ account.name }}</h1>
        <p class="account-balance">{{ formatAmount(account.balance) }}</p>
      </div>

      <article class="account-details">
        <div class="account-info">
          <h1 class="user-name">{{ fullName }}</h1>
          <h2 class="card-mask">●● / ●●</h2>
        </div>
        <p class="account-number">
          ●●●● ●●●● ●●●● <span class="mask">{{ account.mask }}</span>
        </p>
      </article>
    </div>

    <div class="bank-card_icons">
      <i class="fa-brands fa-cc-mastercard fa-2xl text-white"></i> <!-- Moved to right -->
    </div>

    <img
      src="/assets/icons/lines.png"
      width="316"
      height="190"
      alt="lines"
      class="card-background"
    />

    <div class="account-actions">
      <button (click)="openTransactionModal(account, 'deposit')">
        Deposit
      </button>
      <button (click)="openTransactionModal(account, 'withdraw')">
        Withdraw
      </button>
    </div>
  </div>
</div>



<div class="modal-overlay" *ngIf="showModal" (click)="toggleModal()">
  <div class="modal-dialog-centered modal" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="text-center mb-4 position-relative">
          <h4 class="modal-title fw-bold">
            {{ transactionType | titlecase }} Money
          </h4>
          <button
            aria-label="Close modal"
            type="button"
            class="btn-close position-absolute top-0 end-0 m-3"
            (click)="toggleModal()"
          ></button>
        </div>

        <form (ngSubmit)="processTransaction()" #transactionForm="ngForm">
          <div class="mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              [(ngModel)]="transactionAmount"
              name="amount"
              required
              min="1"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 mb-3"
            [disabled]="!transactionForm.form.valid"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-danger w-100"
            (click)="toggleModal()"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
