<div class="account-container">
  <div class="bank-card" *ngFor="let account of accounts">
    <div class="bank-card_content">
      <div class="header">
        <h1 class="account-name">{{ account.name }}</h1>
        <p class="account-balance">{{ formatAmount(account.balance) }}</p>
      </div>

      <article class="account-details">
        <div class="account-info">
          <h1 class="user-name">{{ userName }}</h1>
          <h2 class="card-mask">●● / ●●</h2>
        </div>
        <p class="account-number">●●●● ●●●● ●●●● <span class="mask">{{ account.mask }}</span></p>
      </article>
    </div>

    <div class="bank-card_icons">
      <img src="/assets/icons/Paypass.svg" width="20" height="24" alt="pay" />
      <i class="fa-brands fa-cc-mastercard fa-2xl ml-5 text-white"></i>
    </div>

    <img src="/assets/icons/lines.png" width="316" height="190" alt="lines" class="card-background" />
  </div>
</div>



<div class="modal-overlay" *ngIf="showModal" (click)="toggleModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2>Create New Account</h2>
    <form (ngSubmit)="createAccount()" #accountForm="ngForm">
      <input
        type="text"
        placeholder="Account Name"
        [(ngModel)]="newAccount.name"
        name="name"
        required
      />

      <select
        title="Select Account Type"
        [(ngModel)]="newAccount.type"
        name="type"
        required
      >
        <option value="" disabled selected>Select Type</option>
        <option value="Savings">Savings</option>
        <option value="Current">Current</option>
        <option value="Investment">Investment</option>
      </select>

      <input
        type="number"
        placeholder="Initial Balance"
        [(ngModel)]="newAccount.balance"
        name="balance"
        required
      />

      <div class="modal-buttons">
        <button type="submit" [disabled]="!accountForm.form.valid">Create</button>
        <button type="button" class="cancel-btn" (click)="toggleModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
