
.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  
 
  .card {
    border-radius: 15px;
  }
  
  .card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    padding: 1rem;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-header h4 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
  }
  
 
  .card-body .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-body .col-md-4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .card-body .col-md-4 i {
    font-size: 8rem;
    color: #007bff;
    border-radius: 50%;
    background-color: #e9ecef;
    padding: 1rem;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
 
  .card-body .col-md-8 {
    font-size: 1.1rem;
  }
  
  .card-body .col-md-8 p {
    margin-bottom: 1rem;
  }
  
  .card-body .col-md-8 h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .card-body .form-label {
    font-weight: bold;
  }
  
 
  form .form-control {
    border-radius: 8px;
    box-shadow: none;
    font-size: 1rem;
    padding: 0.75rem;
  }
  
  form button {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  