<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Horizon</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      ☰
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ng-container *ngIf="userRole === 'Admin'">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/transactions"
              >Transactions</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/audit-logs">Pending Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/pending-transactions">Audit Logs</a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="userRole === 'Customer'">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/transactions">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/transfer">Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/notifications">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/profile">Profile</a>
          </li>
        </ul>
      </ng-container>
      
      <div class="notification-icon" (click)="toggleNotifications()">
        <i class="fa-solid fa-user"></i>
        <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>
      </div>

      <div class="d-flex">
        <button *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login">
          Login
        </button>

        <button
          *ngIf="isLoggedIn"
          class="btn btn-warning ms-2"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>