.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background-color: #343a40;
  z-index: 9999;
  padding: 1rem;
}

.sidebar.active {
  display: block;
}

.sidebar .nav-link {
  color: #fff;
  padding: 8px 16px;
  display: block;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
}

.navbar-collapse.show {
  display: flex !important;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .sidebar {
    display: none !important;
  }
}
