
.navbar {
  position: relative;
}

.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  margin-right: 12px;
}

.notification-icon i {
  color: white;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -7px;
  background-color: #dc3545;
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  min-width: 16px;
  text-align: center;
}

.notification-badge:empty {
  display: none;
}


.navbar-nav .nav-link {
  color: white;
  font-size: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
}


.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background-color: #343a40;
  z-index: 9999;
  padding: 1rem;
}

.sidebar.active {
  display: block;
}

.sidebar .nav-link {
  color: #fff;
  padding: 8px 16px;
  display: block;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
}

.navbar-collapse.show {
  display: flex !important;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .sidebar {
    display: none !important;
  }
}
